<div style="float: right;">
  <form class="form-inline p-2">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div  class="pt-2">
    <label class="pl-2">Cant find a recipe?</label> <a class="nav-link pl-1" style="display:inline-block;" href="create/recipe/">Create your own!</a>
  </div>
</div>

<div class="overflow-auto" style="margin: auto; max-height: 45rem;">
  <div class="container ">
    <div class="row">
      <div class="col-sm" style="margin-top: 1rem;">
        <div class="card text-white bg-dark tada" style="width: 25rem; margin: auto;" *ngFor="let recipe of recipes; let i = index; let f = first;">
          <div  *ngIf="i % 2 != 0 || f || i == 1">
          <img class="card-img-top" src="assets/images/jerma.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{recipe.RecipeName}}</p>
          </div>
          <a href="recipes/{{recipe.Id - 1}}" class="card-link">View full recipe</a>
        </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 1rem;">
        <div class="card text-white bg-dark tada" style="width: 25rem; margin: auto; " *ngFor="let recipe of recipes; let i = index; let f = first;">
          <div  *ngIf="i % 2 == 0 && f != true">
          <img class="card-img-top" src="assets/images/jerma.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{recipe.RecipeName}}</p>
          </div>
          <a href="recipes/{{recipe.Id - 1}}" class="card-link">View full recipe</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

