<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
<div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/jerma.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Cooked water</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">View full recipe</a>
              </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/jerma.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Cooked water</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">View full recipe</a>
              </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/jerma.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Cooked water</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">View full recipe</a>
              </div>
          </div>
      </div>
    </div>
  </div>