<mat-sidenav-container class="example-container" style="height: 100%;">
  <mat-sidenav #sidenav mode="side"  [(opened)]="opened">
               <div  style="max-width: 100%; padding: 1rem;">
                <h2 class="text-center">Ingredients</h2>
                <ul class="list-group shadow">
                <li class="list-group-item input-group" *ngFor="let ingredient of ingredients; let i = index" style="display: inline-block;" >
                  {{quantities[i]}} {{ingredient.measureType}} of {{ingredient.ingredientName}}
                </li>
                </ul>
              </div>  
  </mat-sidenav>

<div class="card text-dark shadow p-3 mb-5 bg-white rounded" style="margin: auto; margin-top: 2rem; max-width: 50%; height: 75%;">
  <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <h1 class="h1 text-center">{{recipe.recipeName}}</h1>
    <button mat-mini-fab color="warn" (click)="upvote()" style="position:absolute; top:0; right:0;">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div style="margin: auto; max-width: 50%;">
    <p>{{recipe.recipeInstruction}}</p>
  </div>
<div style="display: flex;">
  <button [ngClass]="{'test': upToggled}" mat-mini-fab color="primary" (click)="upvote()">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <p style="padding-right: 1rem; padding-left: 1rem;">{{voteVal}}</p>
  <button [ngClass]="{'test': downToggled}" mat-mini-fab color="primary" (click)="downvote()">
    <mat-icon>thumb_down</mat-icon>
  </button>
</div>
</div>
